.lang-fieldset__lang-button-hide {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.lang-fieldset__lang-button-hide:checked + .lang-fieldset__lang-button-item {
    border-bottom: 1px solid white;
}