.cover__subtitle {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin: 0 auto;
    max-height: 66px;
    max-width: 360px;
    font-size: 18px;
    line-height: 22px;
}