.footer__two-row {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    margin: 0 auto;
    max-width: 928px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}