.lead__img {
    max-width: 100%;
}

@media screen and (min-width: 1280px) {
    .lead__img {
        max-height: 615px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .lead__img {
        max-height: 580px;
    }
}