.cover__title {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    max-height: 152px;
    max-width: 560px;
    font-size: 72px;
    line-height: 76px;
}

@media screen and (max-width: 767px) {
    .cover__title {
        margin: 0 auto;
        max-width: 250px;
        font-size: 32px;
        line-height: 35px;
    }
}