.lang-fieldset__lang-button {
    position: relative;
    max-height: 28px;
    max-width: 30px;
    font-size: 24px;
    line-height: 28px;
}

@media screen and (max-width: 425px) {
    .lang-fieldset__lang-button {
        font-size: 18px;
    }
}
